/* Write your code here. */
.navbar-styling {
  width: 80%;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.emoji-styles {
  display: flex;
  width: 300px;
  padding: 10px;
}
.paragraph {
  padding: 10px;
}
